<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* <title>@ViewData["Title"] - Projeto_Fatec</title> *@
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/calendario.css">
    @* <link rel="stylesheet" href="~/css/barralateral/style.css" /> *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/Projeto_Fatec.styles.css" asp-append-version="true" />
</head>

<body>
    <header class="header">
        <div class="menu">
            <div class="logo">
                <img src="~/img/logoDente.jpeg" alt="Logo do Site">
            </div>
            
            <div class="menu-item"><span>🏠</span><span class="tooltip">Início</span></div>
            <div class="menu-item"><span>💲</span><span class="tooltip">Gestão</span></div>
            <div class="menu-item"><span>📄</span><span class="tooltip">Relatório</span></div>
            <div class="menu-item"><span>⚙️</span><span class="tooltip">Configurações</span></div>
    
            <div class="spacer"></div>
            
            <div class="menu-item"><span>❔</span><span class="tooltip">Sobre</span></div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>   

    <script>
        const header = document.querySelector('.header');
        const main = document.querySelector('.main');

        header.addEventListener('mouseenter', () => {
            main.classList.add("moverFixed");
        });

        header.addEventListener('mouseleave', () => {
            main.classList.remove("moverFixed")
        });
    </script>

    <script src="~/js/barralateral/script.js"></script>
    <script src="~/js/calendario.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
