@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/login/style.css">
    <title>Tela de Login</title>
</head>
<body>
    <main>
        <div class="form-container">
            <p class="title">Login</p>
            <form class="form">
                <div class="input-group">
                    <label for="username">Usuário</label>
                    <input type="text" name="username" id="username" placeholder="">
                </div>
                <div class="input-group">
                    <label for="password">Senha</label>
                    <input type="password" name="password" id="password" placeholder="">
                    <div class="forgot">
                        <a rel="noopener noreferrer" href="#">Esqueceu a Senha ?</a>
                    </div>
                </div>
                <button class="sign" asp-controller="Home" asp-action="inicio">Entrar</button>
            </form>
            <p class="signup">Não tenho conta?
                <a rel="noopener noreferrer" href="#" class="">Cadastre-se</a>
            </p>
        </div>    
    </main>
</body>
</html>